{% extends 'base.html' %}

{% block content %}
  <h2> {{ article.pk }}번째 글</h2>
  <hr>
  <p>제목: {{ article.title }}</p>
  <p>내용: {{ article.content }}</p>
  <p>작성 시간: {{ article.created_at }}</p>
  <p>수정 시간: {{ article.updated_at }}</p>
  <a href="{% url 'articles:index' %}" class="btn btn-secondary">back</a>
  <form action="{% url 'articles:delete' article.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value='delete'>
  </form>
  <a href="{% url 'articles:edit' article.pk %}" class="btn btn-warning">edit</a>

{% endblock content %}