{% extends 'base.html' %}

{% block content %}
<h2 style="text-align: center;">DETAIL</h2>
<hr>
  <div class="card" style="width: 18rem; margin: auto">
    <img src="{{ movie.poster_url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ movie.title }}</h5>
      <p class="card-text">Audience : {{ movie.audience }}</p>
      <p class="card-text">Release Dates : {{ movie.release_date }}</p>
      <p class="card-text">Genre : {{ movie.genre }}</p>
      <p class="card-text">Score : {{ movie.score }}</p>
      <p class="card-text">시실리에서 이민온 뒤, 정치권까지 영향력을 미치는 거물로 자리잡은 돈 꼴레오네는 갖가지 고민을 호소하는 사람들의 문제를 해결해주며 대부라 불리운다. 한편 솔로소라는 인물은 꼴레오네가와 라이벌인 탓타리아 패밀리와 손잡고 새로운 마약 사업을 제안한다. 돈 꼴레오네가 마약 사업에 참여하지 않기로 하자, 돈 꼴레오네를 저격해 그는 중상을 입고 사경을 헤매게 된다. 그 뒤, 돈 꼴레오네의 아들 소니는 조직력을 총 동원해 다른 패밀리들과 피를 부르는 전쟁을 시작하는데... 가족의 사업과 상관없이 대학에 진학한 뒤 인텔리로 지내왔던 막내 아들 마이클은 아버지가 총격을 당한 뒤, 아버지를 구하기 위해 위험천만한 협상 자리에 나선다.</p>
      <div style="display:flex">
        <a href="{% url 'movies:update' movie.pk %}" class="btn btn-primary">UPDATE</a>
        <form style="margin-left:10px;" action="{% url 'movies:delete' movie.pk %}">
          {% csrf_token %}
          <input type="submit" class="btn btn-danger"value="DELETE">
        </form>

      </div>
    </div>
  </div>
  <hr>
  <a href="{% url 'movies:index' %}" class="btn btn-warning">BACK</a>
{% endblock content %}